{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "extensions": [".js"],
      "root": [
        "./out/"
      ],
      "alias": {
        "~": "./out/",
        "@ouka": "./out/lib/"
      }
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
